template(name='ScoresDistributionBlock')
  .scores-distribution-block.mdl-cell.mdl-card.mdl-shadow--2dp.mdl-color--teal-100(class=width)
    .scores-distribution-block-title.mdl-card__title.mdl-color--teal-500
      h2.mdl-card__title-text.mdl-color-text--white Бали
    .mdl-card__supporting-text
      #scores-distribution-chart
    .mdl-card__actions.mdl-card--border.mdl-color--teal-600
      span.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white
        | Середній бал: #{averageScore}
