<template name="Layout">
  {{#HammerTouchArea gestureMap=globalGestures}}
    <div class="main-layout mdl-layout mdl-js-layout {{#if renderNavDrawer}}mdl-layout--fixed-drawer{{/if}} mdl-layout--fixed-header">
      {{> Header}}
      {{#if renderNavDrawer}}
        {{> NavDrawer}}
      {{/if}}
      {{> sAlert}}
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid main-content">
          {{#unless loading}}
            {{> yield}}
          {{else}}
            {{> Loading}}
          {{/unless}}
        </div>
      </main>
    </div>
  {{/HammerTouchArea}}
  <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32220074 = new Ya.Metrika({ id:32220074, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32220074" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</template>