@import "../../stylesheets/base.import.less";

.subject {
  &-card {
    min-height: 100px;
  }

  &-name {
    .truncate;
  }

  &-total-score {
    bottom: -16px;
    font-size: 5rem;
    margin-left: 10px;
    opacity: .5;
    position: relative;
  }
}