<template name="SubjectsTable">
  <table class="summary-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead class="mdl-color--green-700">
    <tr>
      <th class="mdl-data-table__cell--non-numeric mdl-color-text--white">Предмет</th>
      {{#each modulesNumber}}
        <th class="module-link mdl-color-text--white" data-module="{{this}}">
          Модуль {{this}}
        </th>
      {{/each}}
      <th class="mdl-color-text--white">Підсумок</th>
    </tr>
    </thead>
    <tbody>
    {{#each summarySubjects}}
      {{#let averageScore = averageScore}}
        <tr class="subject-row mdl-color-text--white"
            data-name="{{name}}" data-type="{{controlType}}" data-color="{{scoreColorFor totalScore}}">
          <td class="{{scoreColorFor averageScore}} mdl-data-table__cell--non-numeric">
            {{name}} <span class="control-type">({{controlType}})</span>
          </td>
          {{#each modules}}
            <td class="
                {{#if $eq score '–'}}
              {{scoreColorFor averageScore}}
            {{else}}
              {{scoreColorFor score}}
            {{/if}}
              ">
              {{score}}
            </td>
          {{/each}}
          <td class="{{scoreColorFor totalScore}}"><strong>{{totalScore}}</strong></td>
        </tr>
      {{/let}}
    {{/each}}
    </tbody>
  </table>
</template>