template(name='Rating')
  style.
    .demo-card-wide.mdl-card {
      width: 512px;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
  .mdl-grid
    .mdl-cell.mdl-cell-col-md-6
      .demo-card-wide.mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-color--indigo-500
          h2.mdl-card__title-text.mdl-color-text--white Рейтинг факультетів
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          | Mauris sagittis pellentesque lacus eleifend lacinia...
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            | Get Started
        .mdl-card__menu
          button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
            i.material-icons share
    .mdl-cell.mdl-cell-col-md-6
      .demo-card-wide.mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-color--cyan-700
          h2.mdl-card__title-text.mdl-color-text--white Рейтинг груп
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          | Mauris sagittis pellentesque lacus eleifend lacinia...
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            | Get Started
        .mdl-card__menu
          button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
            i.material-icons share
