<template name="OverhearedFeed">
  <div class="overheared-block mdl-cell {{width}} mdl-grid mdl-grid--no-spacing mdl-card mdl-shadow--2dp">
    <div class="overheared-block-title mdl-card__title mdl-color--blue-grey-300">
      <h2 class="mdl-card__title-text mdl-color-text--white">Підслухано у ТНЕУ</h2>
    </div>
    {{#each overhearedFeed}}
      <div class="overheared-post-card mdl-card mdl-cell mdl-cell--12-col mdl-color--blue-grey-100"
           data-post-id="{{id}}">
        <div class="overheared-post-content mdl-card__supporting-text mdl-color-text--black truncate">
          {{text}}
          <div class="post-metrics mdl-color-text--grey-700">
            <span class="post-metric date"><i class="fa fa-calendar"></i>{{formatUnixTime date}}</span>
            <span class="post-metric likes"><i class="fa fa-heart"></i>{{likes}}</span>
            <span class="post-metric comments"><i class="fa fa-comments"></i>{{comments}}</span>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="mdl-card__actions mdl-card--border mdl-color--blue-grey-300">
      {{#if isCordova}}
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
           href="#"
           onclick="window.open('https://vk.com/public71208622', '_system');"
           target="_blank">
          Читати далі...
        </a>
      {{else}}
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
           href="https://vk.com/public71208622"
           target="_blank">
          Читати далі...
        </a>
      {{/if}}
    </div>
  </div>
</template>