// Floating Action Button
template(name='FAB')
  a(
  href='https://google.com'
  class='\
    fab \
    mdl-button \
    mdl-js-button\
    mdl-button--raised\
    mdl-js-ripple-effect\
    mdl-color--accent\
    mdl-color-text--accent-contrast'
  ) Google