.last-score-card {
  display: inline-block;
  .last-score-info {
    display: block;

    .module-name {
      font-size: 18px;
      opacity: 0.8;
    }

    .date {
      font-size: 18px;
      opacity: .8;
    }

    .weight {
      font-size: 18px;
      opacity: .5;
    }
  }
}